.box:hover::after{
  display:flex;
  justify-content: center;
  background:rgba(0, 0, 0, .7);
  color:white;
  font-size: 1.8em;
  position:absolute;
  top:50%;
  width:100%;
}

.featured-content{
  display:flex;
  flex-flow: row wrap;
  margin-bottom:10%;
}
